{% extends "stack/modals/base.html" %}

{% block modal_id %}about_modal{% endblock %}

{% block modal_title %}About stackpedia{% endblock %}

{% block modal_body %}
    <p>
        <em>stackpedia</em> was built by <a href="https://twitter.com/mrmch">@mrmch</a>
    </p>

    <p>
        I was motivated to build this partly from a personal desire for a way
        to visualize the software stacks I was using, as well as to attempt to 
        give credit to the many developers behind the fantastic software I use
        every day.
    </p>

    <p>
        I aspire to have <em>stackpedia</em> also perform some rudimentary license
        checks, because developers often over look open source licenses when they
        start pulling projects from github and other social coding sites.
    <p>
{% endblock %}

{% block modal_save_button %}{% endblock %}

