{% extends "stack/base.html" %}

{% block title %}{{ block.super }} - Home{% endblock %}

{% block extra_styles %}
    .form a,
    .inplace_editor a{
        margin-bottom: 10px;
    }

    .fadein {
        opacity: 0.1;
    }

    .fadein:hover {
        opacity: 1;
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
    }

    .node circle {
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .node {
        font: 10px sans-serif;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span10">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Viewing</a> <span class="divider">/</span>
                </li>
                <li class="active">
                    {{ stack_raw.name }}
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div id="canvas">

            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    // define globals
    var nodes_data = {{ nodes_dump|safe }}[0],
        projects = {{ projects|safe }},
        contributors = {{ contributors|safe }},
        project = {{ project|safe }}[0],
        stack = {{ stack|safe }}[0],
        root_id = '{{ root.pk }}',
        template;

    var w = 940,
        h = 500,
        svg, base, d3nodes, cluster, diagonal;

    var nodes, links, node, link;

    var get_node_li = function (node) {
        return $('li').filter(function () { 
            return $(this).data('node') == node; 
            })[0];
    };

    var get_cont = function (pk) {
        var l = contributors.filter(function (p) { return p.pk == pk; });
        
        return l.length > 0 ? l[0] : null;
    };

    var get_project = function (pk) {
        var l = projects.filter(function (p) { return p.pk == pk; });
        
        return l.length > 0 ? l[0] : null;
    };

    var node_name = function (d) {
        var p = get_project(d.data.project);
        return (p != null ? p.fields.name : "Untitled Project");
    }

    var node_colour = function (d) {
        if (d.data.is_head) {
            return 'red';
        } else {
            return 'teal';
        }
    };

    var show_preview = function () {
        $('#canvas').empty();

        cluster = d3.layout.cluster()
            .size([w, 500]);
            //.size([h-200, w]);

        diagonal = d3.svg.diagonal()
            .projection(function(d) { return [d.x, d.y]; });

        svg = d3.select('#canvas')
            .append('svg')
            .attr('width', w)
            .attr('height', h-100)
            .append('g')
                .attr('transform', 'translate(40, 40)');

        nodes = cluster.nodes(nodes_data);
        links = cluster.links(nodes);

        link = svg.selectAll('.link')
            .data(links)
            .enter().append('path')
                .attr('class', 'link')
                .attr('d', diagonal);

        node = svg.selectAll('.node')
            .data(nodes)
            .enter().append('g')
                .attr('class', 'node')
                .attr('transform', function (d) {
                    return 'translate(' + d.x + ',' + d.y + ')'; 
                });

        node.append('circle')
            .attr('r', 40)
            .attr('fill', node_colour);

        node.append("image")
            .attr('x', -8)
            .attr('y', -8)
            .attr('width', 32)
            .attr('height', 32)
            .attr("xlink:href", function (d) {
                var p = get_project(d.data.project);
                var c = get_cont(p.fields.contributors[0]);
                console.log(c);
                if (c) {
                    return c.fields.avatar_url;
                } else {
                    return '';
                }
            });

        node.append('text')
            .attr('dx', function(d) {
                return -25;
                return d.children ? -8 : 8; 
            })
            .attr('dy', 3)
            .text(node_name);
    };
{% endblock %}

{% block document_ready %}
    {{ block.super }}

    if ('{{ width }}' != '') {
        w = '{{ width }}';
    } else {
        w = $('div.span12').width() - 200;
    }

    if ('{{ height }}' != '') {
        h = '{{ height }}';
    } else {
        h = $(window).height();
    }

    show_preview();
{% endblock %}

