{% extends "stack/base.html" %}

{% block title %}{{ block.super }} - Home{% endblock %}

{% block extra_styles %}

    #explore li h3 {
        text-align: center;
    }
    #explore li {
        list-style-type: none;
        text-align: center;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 136, 204, .5);
        display: inline-block;
        cursor: pointer;
    }

    #explore li:hover {
        box-shadow: 0px 0px 5px rgba(0, 136, 204, 1);
    }

{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span10">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Exploring</a> <span class="divider">/</span>
                </li>
                <li class="active">
                    All Public Stacks
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <ul id="explore">
                {% for stack in stacks %}
                    <li>
                        <h3><a href="/{{ stack.pk }}">{{ stack.name }}</a></h3>
                        <a href="http://github.com/{{ stack.head.project.github }}">
                            github.com/{{ stack.head.project.github }}
                        </a>
                    </li>

                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
{% endblock %}

{% block document_ready %}
    {{ block.super }}
{% endblock %}

