{% extends "stack/base.html" %}

{% block title %}{{ block.super }} - Home{% endblock %}


{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit">
                <h1>stackpedia</h1>

                <h2>show your stack off to the world</h2>
                <a href="#create" class="btn btn-primary btn-large">
                    Build a stack now <i class="icon-white icon-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4 well">
            <h3 class="lead">what?</h3>

            <p>
                <em>stackpedia</em> aspires to be an easy way for developers
                to list the software projects they are using in their "stack".
            </p>
        </div>

        <div class="span4 well">
            <h3 class="lead">how?</h3>

            <p>
                You build your stack by telling us what projects you use. We 
                give you a pretty <a href="http://d3js.org">d3.js</a> visual you can share.
            </p>
        </div>

        <div class="span4 well">
            <h3 class="lead">that's it?</h3>

            <p>
                We try to pull data from github to tell you who's contributing
                on the projects you're using, and we look at the licenses to see
                if you're compliant =]
            </p>
        </div>
    </div>

{% endblock %}

