{% extends "stack/base.html" %}

{% block title %}{{ block.super }} - Home{% endblock %}


{% block content %}
    <div class="row-fluid">
        <div class="span10">
            <div class="hero-unit">
                <h1>stackpedia</h1>

                <h2>show your stack off to the world</h2>
                <a href="#create" class="btn btn-primary btn-large">
                    Build a stack now <i class="icon-white icon-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>

{% endblock %}

